<div class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <a [routerLink]="['/']" class="navbar-brand">CS2102</a>
      <ul class="navbar-nav">
        <li [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/projects']" class="nav-link">
            <i class="fa fa-cube fa-lg"></i> Projects
          </a>
        </li>
        <li [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/projects']" class="nav-link">
            <i class="fa fa-check fa-lg"></i> Funded
          </a>
        </li>
        <li *ngIf="loginService.isLoggedIn" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/newproject']" class="nav-link">
            <i class="fa fa-plus fa-lg"></i> New Project
          </a>
        </li>
        <li *ngIf="loginService.isLoggedIn" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/dashboard']" class="nav-link">
            <i class="fa fa-user fa-lg"></i> Dashboard
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li *ngIf="!loginService.isLoggedIn" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">
            <i class="fa fa-sign-in fa-lg"></i> Login
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>