<div class="dashboard-component-wrapper">
  The super dashboard that can list out every single user and delete them
  use ngfor
  should also have a filter
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.fullname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.country}}</td>
        <td>
          <button (click)="removeUser(user.username)" type="button" class="btn btn-danger">
            <i class="fa fa-trash fa-lg"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>