<div class="project-component-wrapper">
  <div class="card" style="width: 20rem;">
    Commented this out to suppress warnings until fix
    <!-- <img class="card-img-top" src="{{project.image}}" alt="Card image cap"> -->
    <div class="card-body">
      <h4 class="card-title">{{project.title}}</h4>
      <p class="card-text">Description: {{project.description}}</p>
      <p class="card-text">Duration: {{project.duration}}</p>
      <p class="card-text">Amount requested: {{project.amountRequested}}</p>
      Should change placeholder image to predefined category images
      <br>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 77%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>